.fragment.hidden-show {
  display: none;
}
.fragment.hidden-show.current-fragment {
  display: block;
}
.card.simple{
  color: black;
}
span.red {
  color: darkred;
  border-color: darkred;
}
span.blue {
  color: darkblue;
  border-color: darkblue;
}
span.green {
  color: darkgreen;
  border-color: darkgreen;
}
.reveal section img.star {
  width: 30px;
  height: 30px;
  border: 0px none;
}

.star.current-fragment {
  border: 0px none;
}

card.blue{
  color: darkblue;
  border-color: darkblue;
  background-color: lightgoldenrodyellow;
}
card.green{
  color: darkgreen;
  border-color: darkgreen;
  background-color: lightgoldenrodyellow;
}
card.red{
  color: darkred;
  border-color: darkred;
  background-color: lightgoldenrodyellow;
}
card {
  background: white;
  padding: 10px 20px;
  border: 2px solid #333;
  margin: 3px;
  font-size: 50pt;
  font-weight: bolder;
  box-shadow: 10px 10px 8px grey;
}
.wide-space {
  padding: 30px;
}
