body {
  background: url(/assets/img/bg/bg_honey.png) bottom no-repeat;
  background-size: contain;
}

.exercise li{
}
.exercise li span {
  color: red;
}
.exercise li word {
  width: 150pt;
  font-size: 90%;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
card {
  font-size: 80%;
  line-height: 60pt;
}
card {
  font-size: 80%;
  line-height: 60pt;
}
.line-through {
  text-decoration: line-through;
}
